In [1]:
%matplotlib inline

import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
DATA_FOLDER = 'data/'

In [16]:
sales = pd.read_csv(DATA_FOLDER + 'sales_train.csv.gz')
items = pd.read_csv(DATA_FOLDER + 'items.csv')
shops = pd.read_csv(DATA_FOLDER + 'shops.csv')
categories = pd.read_csv(DATA_FOLDER + 'item_categories.csv')

In [28]:
sales.shape

(2935849, 6)

In [27]:
sales.dtypes

date               object
date_block_num      int64
shop_id             int64
item_id             int64
item_price        float64
item_cnt_day      float64
dtype: object

In [17]:
sales.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [42]:
# Add decimal values of price as a feature
sales['item_price_fractional'] = sales['item_price'] - sales['item_price'].astype(dtype='int64')
sales = sales[['date', 'date_block_num', 'shop_id', 'item_id', 'item_price', 'item_price_fractional', 'item_cnt_day',]]
sales.head()

,date,date_block_num,shop_id,item_id,item_price,item_price_fractional,item_cnt_day
0,02.01.2013,0,59,22154,999.00,0.00,1.0
1,03.01.2013,0,25,2552,899.00,0.00,1.0
2,05.01.2013,0,25,2552,899.00,0.00,-1.0
3,06.01.2013,0,25,2554,1709.05,0.05,1.0
4,15.01.2013,0,25,2555,1099.00,0.00,1.0